* {margin: 0; padding: 0;}  /* Remove margins and padding from the body element to vertically center elements with a fixed height. */

body {
    background: rgb(2, 143, 61);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}
main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#titulo {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    padding: 10px;
}

.btn {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    padding: 10px;
    background-color: rgb(0, 192, 90);
}

.btn:hover {
    background-color: rgb(0, 170, 70);
}

#copy {
    background-color: rgba(148, 200, 151, 0.7);
}

#copy:hover {
    background-color: rgba(99, 206, 105, 0.9);
}

#input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #333;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

#result {
    width: 250px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #333;
    padding: 10px;
    background-color: rgba(148, 200, 151, 0.7);
}

#result:hover {
    background-color: rgba(99, 206, 105, 0.9);
}

#resultado {
    display: flex;
    background-color: rgba(148, 200, 151, 0.7);
    user-select: none;
}
