@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=ZCOOL+QingKe+HuangYou&display=swap');

* {margin: 0; padding: 0; font-family: 'ZCOOL QingKe HuangYou', cursive;}

body {
    background: rgb(0, 0, 0);
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0.109);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#titulo {
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
}

.btn {
    height: auto;
    width: 100px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    /*padding: 10px;*/
    background-color: #ffffff;
}

.btn:hover {
    background-color: #c8c8c8;
}

#inputButton {
    display: flex;
    flex-direction: row;
}

#input {
    width: 250px;
    height: 20px;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

#result {
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    height: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #333;
    background-color: #ffffff;
}

#result:hover {
    background-color: #c8c8c8;
}

#resultado {
    display: flex;
    justify-content: center;
    user-select: none;
}
